/* CONTENEDOR */
.contenedor{
    width: 100%;
    max-width: 380px;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Segoe UI", sans-serif;
}

/* LOGO */
.marca{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.marca-icono{
    width: 120px;
    height: auto;
}

.marca-texto{
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

/* TITULO */

.login-encabezado{
    text-align: center;
}

.login-encabezado h1{
    font-size: 34px;
    color: #222;
    margin-bottom: 8px;
}

.login-encabezado p{
    color: #777;
    font-size: 15px;
}

/* FORMULARIO */

.login-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* CAMPOS */

.campo{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.campo label{
    font-weight: 600;
    color: #444;
}

.campo input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: .2s;
    box-sizing: border-box;
}

.campo input:focus{
    border-color: #39A900;
    box-shadow: 0 0 0 3px rgba(57,169,0,.15);
}

/* BOTON */

.btn-principal{
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #39A900;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.btn-principal:hover{
    background: #2e8c00;
}

/* REGISTRO */

.login-pie{
    text-align: center;
    color: #666;
}

.enlace-fuerte{
    color: #39A900;
    text-decoration: none;
    font-weight: bold;
}

.enlace-fuerte:hover{
    text-decoration: underline;
}

/* MENSAJE */
.mensaje-error{
    display: block;
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.mensaje-rojo{
    background: #ffe5e5;
    color: #c62828;
    border: 1px solid #ef5350;
}

.mensaje-naranja{
    background: #fff4e5;
    color: #ef6c00;
    border: 1px solid #ffb74d;
}

/* FOOTER */

.pie-pagina{
    text-align: center;
    color: #777;
    font-size: 14px;
}